{% for dr in params.botheaderlogo %}
<div class="frame">
          <div class="chatpanel chatpanel-primary" style="z-index: 1000"><div id="chat-panel" class="chatpanel-heading"><img class="img-logo"  src="{{dr.img}}" /><b>  Chat with us</b></div></div>
          <div class="innerframe">
            <ul id="messages"></ul>
            <div id="message-box">
                <div class="msj-rta macro" style="margin:auto">                        
                    <div class="text text-l" style="background:white">
                        <input id="speech"  class="mytext" placeholder="Type a message or speak"/>
                    </div> 
                </div>
				<button id="rec" class="btn">Speak</button>
            </div>
            </div>
        </div>    
    </body>
{% endfor %}  
    