{#
/**
 * @file
 * Contains the text of the userdata explanation page
 */
#}

<div class='userdata-description'>
{% trans %}
    <p>The page contain information about registration users</p>
    <p>List of Users</p>
    <p>Delete and Update operations</p>
{% endtrans %}
</div>