{#
/**
 * @file
 * Contains the text of the reviews explanation page
 */
#}

<div class='reviews-description'>
{% trans %}
    <p>The page contain information about registration users.</p>
    <p>list of users</p>
    <p>delete and update operations</p>
{% endtrans %}
</div>
